//site color variables
$body-color: #F8F7F9;
$primary-color: #F4AC45;
$secondary-color: #197BBD;
$text-color: #2B2D42;
$text-color-dark: #2B2D42;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #F7F9FF;
$dark-gray: #646569;

// solid colors
$white: #fff;
$black: #000;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
