//site color variables
$body-color: #EBEBD3;
$primary-color: #BD5B19;
$secondary-color: #197BBD;
$text-color: #2E282A;
$text-color-dark: #2E282A;
$site-ease: cubic-bezier(0.36, 0.03, 0, 0.91);
$gray: #D7CEB2;
$dark-gray: #6B6B6B;

// solid colors
$white: #fff;
$black: #2E282A;

// Font Variables
$primary-font: 'Josefin Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;
